<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>React Admin</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>
    <body>
        <div id="root-react-admin"  ref="root_webapp_purdygo"></div>

        <!-- Dependencies -->
        <% if (webpackConfig.mode == 'production') { %>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <% } else { %>
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <% } %>

        <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
         <script type="text/javascript" src="/<%= htmlWebpackPlugin.files.js[i] %>"></script>
        <% } %>
    </body>
</html>
